
.on { background-color:#999!important; opacity: 1!important; }

.amaj7 .a { background-color: #ff0000!important; opacity: 1 }
.amaj7 .cs { background-color: #c0edbb!important; opacity: 1 }
.amaj7 .e { background-color: #bbcded!important; opacity: 1 }
.amaj7 .gs { background-color: #ff9898!important; opacity: 1 }

.cmaj7 .c { background-color: #ff0000!important; opacity: 1 }
.cmaj7 .e { background-color: #c0edbb!important; opacity: 1 }
.cmaj7 .g { background-color: #bbcded!important; opacity: 1 }
.cmaj7 .b { background-color: #ff9898!important; opacity: 1 }

.csmin7 .cs { background-color: #ff0000!important; opacity: 1 }
.csmin7 .e { background-color: #c0edbb!important; opacity: 1 }
.csmin7 .gs { background-color: #bbcded!important; opacity: 1 }
.csmin7 .b { background-color: #ff9898!important; opacity: 1 }

.dmin7 .d { background-color: #ff0000!important; opacity: 1 }
.dmin7 .f { background-color: #c0edbb!important; opacity: 1 }
.dmin7 .a { background-color: #bbcded!important; opacity: 1 }
.dmin7 .c { background-color: #ff9898!important; opacity: 1 }

.emin7 .e { background-color: #ff0000!important; opacity: 1 }
.emin7 .g { background-color: #c0edbb!important; opacity: 1 }
.emin7 .b { background-color: #bbcded!important; opacity: 1 }
.emin7 .d { background-color: #ff9898!important; opacity: 1 }

.fmaj7 .f { background-color: #ff0000!important; opacity: 1 }
.fmaj7 .a { background-color: #c0edbb!important; opacity: 1 }
.fmaj7 .c { background-color: #bbcded!important; opacity: 1 }
.fmaj7 .e { background-color: #ff9898!important; opacity: 1 }

.gdom7 .g { background-color: #ff0000!important; opacity: 1 }
.gdom7 .b { background-color: #c0edbb!important; opacity: 1 }
.gdom7 .d { background-color: #bbcded!important; opacity: 1 }
.gdom7 .f { background-color: #ff9898!important; opacity: 1 }

.amin7 .a { background-color: #ff0000!important; opacity: 1 }
.amin7 .c { background-color: #c0edbb!important; opacity: 1 }
.amin7 .e { background-color: #bbcded!important; opacity: 1 }
.amin7 .g { background-color: #ff9898!important; opacity: 1 }

.bdim7 .b { background-color: #ff0000!important; opacity: 1 }
.bdim7 .d { background-color: #c0edbb!important; opacity: 1 }
.bdim7 .f { background-color: #bbcded!important; opacity: 1 }
.bdim7 .a { background-color: #ff9898!important; opacity: 1 }

/* Pentatonic */

[class*="apen"] .a { background-color: #ff0000!important; opacity: 1 }
[class*="apen"] .c { background-color: #43a722!important; opacity: 1 }
[class*="apen"] .d { background-color: #cf7e7e!important; opacity: 1 }
[class*="apen"] .e { background-color: #ff9898!important; opacity: 1 }
[class*="apen"] .g { background-color: #c0edbb!important; opacity: 1 }

[class*="aspen"] .as { background-color: #ff0000!important; opacity: 1 }
[class*="aspen"] .cs { background-color: #43a722!important; opacity: 1 }
[class*="aspen"] .ds { background-color: #cf7e7e!important; opacity: 1 }
[class*="aspen"] .f { background-color: #ff9898!important; opacity: 1 }
[class*="aspen"] .gs { background-color: #c0edbb!important; opacity: 1 }

[class*="bpen"] .b { background-color: #ff0000!important; opacity: 1 }
[class*="bpen"] .d { background-color: #43a722!important; opacity: 1 }
[class*="bpen"] .e { background-color: #cf7e7e!important; opacity: 1 }
[class*="bpen"] .fs { background-color: #ff9898!important; opacity: 1 }
[class*="bpen"] .a { background-color: #c0edbb!important; opacity: 1 }

[class*="cpen"] .c { background-color: #ff0000!important; opacity: 1 }
[class*="cpen"] .ds { background-color: #43a722!important; opacity: 1 }
[class*="cpen"] .f { background-color: #cf7e7e!important; opacity: 1 }
[class*="cpen"] .g { background-color: #ff9898!important; opacity: 1 }
[class*="cpen"] .as { background-color: #c0edbb!important; opacity: 1 }

[class*="cspen"] .cs { background-color: #ff0000!important; opacity: 1 }
[class*="cspen"] .e { background-color: #43a722!important; opacity: 1 }
[class*="cspen"] .fs { background-color: #cf7e7e!important; opacity: 1 }
[class*="cspen"] .gs { background-color: #ff9898!important; opacity: 1 }
[class*="cspen"] .b { background-color: #c0edbb!important; opacity: 1 }

[class*="dpen"] .d { background-color: #ff0000!important; opacity: 1 }
[class*="dpen"] .f { background-color: #43a722!important; opacity: 1 }
[class*="dpen"] .g { background-color: #cf7e7e!important; opacity: 1 }
[class*="dpen"] .a { background-color: #ff9898!important; opacity: 1 }
[class*="dpen"] .c { background-color: #c0edbb!important; opacity: 1 }

[class*="dspen"] .ds { background-color: #ff0000!important; opacity: 1 }
[class*="dspen"] .fs { background-color: #43a722!important; opacity: 1 }
[class*="dspen"] .gs { background-color: #cf7e7e!important; opacity: 1 }
[class*="dspen"] .as { background-color: #ff9898!important; opacity: 1 }
[class*="dspen"] .cs { background-color: #c0edbb!important; opacity: 1 }

[class*="epen"] .e { background-color: #ff0000!important; opacity: 1 }
[class*="epen"] .g { background-color: #43a722!important; opacity: 1 }
[class*="epen"] .a { background-color: #cf7e7e!important; opacity: 1 }
[class*="epen"] .b { background-color: #ff9898!important; opacity: 1 }
[class*="epen"] .d { background-color: #c0edbb!important; opacity: 1 }

[class*="fpen"] .f { background-color: #ff0000!important; opacity: 1 }
[class*="fpen"] .gs { background-color: #43a722!important; opacity: 1 }
[class*="fpen"] .as { background-color: #cf7e7e!important; opacity: 1 }
[class*="fpen"] .c { background-color: #ff9898!important; opacity: 1 }
[class*="fpen"] .ds { background-color: #c0edbb!important; opacity: 1 }

[class*="fspen"] .fs { background-color: #ff0000!important; opacity: 1 }
[class*="fspen"] .a { background-color: #43a722!important; opacity: 1 }
[class*="fspen"] .b { background-color: #cf7e7e!important; opacity: 1 }
[class*="fspen"] .cs { background-color: #ff9898!important; opacity: 1 }
[class*="fspen"] .e { background-color: #c0edbb!important; opacity: 1 }

[class*="gpen"] .g { background-color: #ff0000!important; opacity: 1 }
[class*="gpen"] .as { background-color: #43a722!important; opacity: 1 }
[class*="gpen"] .c { background-color: #cf7e7e!important; opacity: 1 }
[class*="gpen"] .d { background-color: #ff9898!important; opacity: 1 }
[class*="gpen"] .f { background-color: #c0edbb!important; opacity: 1 }

[class*="gspen"] .gs { background-color: #ff0000!important; opacity: 1 }
[class*="gspen"] .b { background-color: #43a722!important; opacity: 1 }
[class*="gspen"] .cs { background-color: #cf7e7e!important; opacity: 1 }
[class*="gspen"] .ds { background-color: #ff9898!important; opacity: 1 }
[class*="gspen"] .fs { background-color: #c0edbb!important; opacity: 1 }

/* End of Pentatonic */

/* Minor */

.amin .a { background-color: #ff0000!important; opacity: 1 }
.amin .c { background-color: #43a722!important; opacity: 1 }
.amin .e { background-color: #cf7e7e!important; opacity: 1 }

.asmin .as { background-color: #ff0000!important; opacity: 1 }
.asmin .cs { background-color: #43a722!important; opacity: 1 }
.asmin .f { background-color: #cf7e7e!important; opacity: 1 }

.bmin .b { background-color: #ff0000!important; opacity: 1 }
.bmin .d { background-color: #43a722!important; opacity: 1 }
.bmin .fs { background-color: #cf7e7e!important; opacity: 1 }

.cmin .c { background-color: #ff0000!important; opacity: 1 }
.cmin .ds { background-color: #43a722!important; opacity: 1 }
.cmin .g { background-color: #cf7e7e!important; opacity: 1 }

.csmin .cs { background-color: #ff0000!important; opacity: 1 }
.csmin .e { background-color: #43a722!important; opacity: 1 }
.csmin .gs { background-color: #cf7e7e!important; opacity: 1 }

.dmin .d { background-color: #ff0000!important; opacity: 1 }
.dmin .f { background-color: #43a722!important; opacity: 1 }
.dmin .a { background-color: #cf7e7e!important; opacity: 1 }

.dsmin .ds { background-color: #ff0000!important; opacity: 1 }
.dsmin .fs { background-color: #43a722!important; opacity: 1 }
.dsmin .as { background-color: #cf7e7e!important; opacity: 1 }

.emin .e { background-color: #ff0000!important; opacity: 1 }
.emin .g { background-color: #43a722!important; opacity: 1 }
.emin .b { background-color: #cf7e7e!important; opacity: 1 }

.fmin .f { background-color: #ff0000!important; opacity: 1 }
.fmin .gs { background-color: #43a722!important; opacity: 1 }
.fmin .c { background-color: #cf7e7e!important; opacity: 1 }

.fsmin .fs { background-color: #ff0000!important; opacity: 1 }
.fsmin .a { background-color: #43a722!important; opacity: 1 }
.fsmin .cs { background-color: #cf7e7e!important; opacity: 1 }

.gmin .g { background-color: #ff0000!important; opacity: 1 }
.gmin .as { background-color: #43a722!important; opacity: 1 }
.gmin .d { background-color: #cf7e7e!important; opacity: 1 }

.gsmin .gs { background-color: #ff0000!important; opacity: 1 }
.gsmin .b { background-color: #43a722!important; opacity: 1 }
.gsmin .ds { background-color: #cf7e7e!important; opacity: 1 }

/* End of Minor */

/* Major */

.amaj .a { background-color: #ff0000!important; opacity: 1 }
.amaj .cs { background-color: #43a722!important; opacity: 1 }
.amaj .e { background-color: #cf7e7e!important; opacity: 1 }

.asmaj .as { background-color: #ff0000!important; opacity: 1 }
.asmaj .d { background-color: #43a722!important; opacity: 1 }
.asmaj .f { background-color: #cf7e7e!important; opacity: 1 }

.bmaj .b { background-color: #ff0000!important; opacity: 1 }
.bmaj .ds { background-color: #43a722!important; opacity: 1 }
.bmaj .fs { background-color: #cf7e7e!important; opacity: 1 }

.cmaj .c { background-color: #ff0000!important; opacity: 1 }
.cmaj .e { background-color: #43a722!important; opacity: 1 }
.cmaj .g { background-color: #cf7e7e!important; opacity: 1 }

.csmaj .cs { background-color: #ff0000!important; opacity: 1 }
.csmaj .f { background-color: #43a722!important; opacity: 1 }
.csmaj .gs { background-color: #cf7e7e!important; opacity: 1 }

.dmaj .d { background-color: #ff0000!important; opacity: 1 }
.dmaj .fs { background-color: #43a722!important; opacity: 1 }
.dmaj .a { background-color: #cf7e7e!important; opacity: 1 }

.dsmaj .ds { background-color: #ff0000!important; opacity: 1 }
.dsmaj .g { background-color: #43a722!important; opacity: 1 }
.dsmaj .as { background-color: #cf7e7e!important; opacity: 1 }

.emaj .e { background-color: #ff0000!important; opacity: 1 }
.emaj .gs { background-color: #43a722!important; opacity: 1 }
.emaj .b { background-color: #cf7e7e!important; opacity: 1 }

.fmaj .f { background-color: #ff0000!important; opacity: 1 }
.fmaj .a { background-color: #43a722!important; opacity: 1 }
.fmaj .c { background-color: #cf7e7e!important; opacity: 1 }

.fsmaj .fs { background-color: #ff0000!important; opacity: 1 }
.fsmaj .as { background-color: #43a722!important; opacity: 1 }
.fsmaj .cs { background-color: #cf7e7e!important; opacity: 1 }

.gmaj .g { background-color: #ff0000!important; opacity: 1 }
.gmaj .b { background-color: #43a722!important; opacity: 1 }
.gmaj .d { background-color: #cf7e7e!important; opacity: 1 }

.gsmaj .gs { background-color: #ff0000!important; opacity: 1 }
.gsmaj .c { background-color: #43a722!important; opacity: 1 }
.gsmaj .ds { background-color: #cf7e7e!important; opacity: 1 }