body {
  font-family: monospace;
}

ul.top-row {
  font-size: 24px;
  display: table;
  padding: 20px;
  margin: 0;
  background-color: #efefef;
  font-weight: bold;
  position: fixed;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
  height: 85px;
  top: 0;
  left: 0;
}

ul.top-row li {
  display: table-cell;
}

ul.top-row li:first-child {
  width: 300px;
}

ul.top-row li:nth-child(2) {
  width: 350px;
}

ul.top-row li:last-child {
  text-align: right;

}

.label input {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 10px;
  transition: all 1.5s ease;
  color: green;
}

#chord {
  width: 100px;
}

#chord, #root {
  border: 0;
  text-transform: capitalize;
  
}
#root {
  width: 50px;
  
}
.top-row + div.fret-count {
  margin-top: 85px;
}

.grid {  
  width: 100%;
  display: grid;
  grid-template-columns: repeat(16, 6.25%);
  padding: 0 20px;
  box-sizing: border-box;
}

.grid > div{
  text-align: center;
  position: relative;
  aspect-ratio: 1;
}

div.grid.fret-count > div {
  aspect-ratio:  auto;
  margin: 15px 0;
  font-weight: bold;
}

.container > div {
  border: 1px solid black;
  cursor: pointer;
  opacity: .2;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  margin: 2px;
  transition: all .5s ease;
}
.container > div:hover {
  background: #000!important;
  color: #fff;
  transition: none;
  opacity: 1;
}
.container > div > div:after{
  content: '';
}
.container > div.fret-count > div {
  border: 0;
  opacity: 1;
}

.container div:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container div.a:before {content: "A"}
.container div.as:before {content: "A#"}
.container div.b:before {content: "B"}
.container div.c:before {content: "C"}
.container div.cs:before {content: "C#"}
.container div.d:before {content: "D"}
.container div.ds:before {content: "D#"}
.container div.e:before {content: "E"}
.container div.f:before {content: "F"}
.container div.fs:before {content: "F#"}
.container div.g:before {content: "G"}
.container div.gs:before {content: "G#"}

.container div.first {
  overflow: hidden;
}
.container div.first:after {
  content:"";
  display: block;
  height: 100%;
  border-right: 1px dotted black;
  position: absolute;
  width: 1px;
  right: 25%;
}

.container div.octave:after {
  right: 75%;
}

#js-row-toggle li {
  position: relative;
  list-style: none;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  border-left: 0;
  font-weight: bold;
}

#js-row-toggle li:hover {
  background-color: #cecece;
}

#js-row-toggle li:first-child {
  border-left: 1px solid black;
}

#js-row-toggle li:after {
  content: "";
  display: none;
  opacity: .35;
  background-color: black;
  position: absolute;
  left: -1px;
  bottom: 40px;
  width: calc(100% + 1px);
  height: 3000px;
  z-index: 1;
}

#js-row-toggle li.hide {
  background-color: #cfcfcf;
}

#js-row-toggle li.hide:after {
  display: block;
}





