body {
  font-family: monospace;
}

div.top-row {
  font-size: 24px;
  padding: 20px;
  background-color: #efefef;
  font-weight: bold;
}

div.top-row > div {
  display: inline-block;
}

div.label {
  text-align: center;
}

div.label input {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 10px;
  transition: all 1.5s ease;
  color: green;
}

#chord, #root {
  border: 0;
  text-transform: capitalize;
  
}
#root {
  width: 50px;
  
}

.grid {  
  width: 100%;
  display: grid;
  grid-template-columns: repeat(16, 6.25%);
  padding: 0 20px;
  box-sizing: border-box;
}

.grid > div{
  text-align: center;
  position: relative;
  aspect-ratio: 1;
}

div.grid.fret-count > div {
  aspect-ratio:  auto;
  margin: 15px 0;
  font-weight: bold;
}

.container > div {
  border: 1px solid black;
  cursor: pointer;
  opacity: .2;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  margin: 2px;
  transition: all .5s ease;
}
.container > div:hover {
  background: #000!important;
  color: #fff;
  transition: none;
  opacity: 1;
}
.container > div > div:after{
  content: '';
}
.container > div.fret-count > div {
  border: 0;
  opacity: 1;
}

.container div:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container div.a:before {content: "A"}
.container div.as:before {content: "A#"}
.container div.b:before {content: "B"}
.container div.c:before {content: "C"}
.container div.cs:before {content: "C#"}
.container div.d:before {content: "D"}
.container div.ds:before {content: "D#"}
.container div.e:before {content: "E"}
.container div.f:before {content: "F"}
.container div.fs:before {content: "F#"}
.container div.g:before {content: "G"}
.container div.gs:before {content: "G#"}

.container div.first {
  overflow: hidden;
}
.container div.first:after {
  content:"";
  display: block;
  height: 100%;
  border-right: 1px dotted black;
  position: absolute;
  width: 1px;
  right: 25%;
}

.container div.octave:after {
  right: 75%;
}

.amaj7 .a { background-color: #ff0000!important; opacity: 1 }
.amaj7 .cs { background-color: #c0edbb!important; opacity: 1 }
.amaj7 .e { background-color: #bbcded!important; opacity: 1 }
.amaj7 .g# { background-color: #ff9898!important; opacity: 1 }

.cmaj7 .c { background-color: #ff0000!important; opacity: 1 }
.cmaj7 .e { background-color: #c0edbb!important; opacity: 1 }
.cmaj7 .g { background-color: #bbcded!important; opacity: 1 }
.cmaj7 .b { background-color: #ff9898!important; opacity: 1 }

.csmin7 .cs { background-color: #ff0000!important; opacity: 1 }
.csmin7 .e { background-color: #c0edbb!important; opacity: 1 }
.csmin7 .gs { background-color: #bbcded!important; opacity: 1 }
.csmin7 .b { background-color: #ff9898!important; opacity: 1 }

.dmin7 .d { background-color: #ff0000!important; opacity: 1 }
.dmin7 .f { background-color: #c0edbb!important; opacity: 1 }
.dmin7 .a { background-color: #bbcded!important; opacity: 1 }
.dmin7 .c { background-color: #ff9898!important; opacity: 1 }

.emin7 .e { background-color: #ff0000!important; opacity: 1 }
.emin7 .g { background-color: #c0edbb!important; opacity: 1 }
.emin7 .b { background-color: #bbcded!important; opacity: 1 }
.emin7 .d { background-color: #ff9898!important; opacity: 1 }

.fmaj7 .f { background-color: #ff0000!important; opacity: 1 }
.fmaj7 .a { background-color: #c0edbb!important; opacity: 1 }
.fmaj7 .c { background-color: #bbcded!important; opacity: 1 }
.fmaj7 .e { background-color: #ff9898!important; opacity: 1 }

.gdom7 .g { background-color: #ff0000!important; opacity: 1 }
.gdom7 .b { background-color: #c0edbb!important; opacity: 1 }
.gdom7 .d { background-color: #bbcded!important; opacity: 1 }
.gdom7 .f { background-color: #ff9898!important; opacity: 1 }

.amin7 .a { background-color: #ff0000!important; opacity: 1 }
.amin7 .c { background-color: #c0edbb!important; opacity: 1 }
.amin7 .e { background-color: #bbcded!important; opacity: 1 }
.amin7 .g { background-color: #ff9898!important; opacity: 1 }

.bdim7 .b { background-color: #ff0000!important; opacity: 1 }
.bdim7 .d { background-color: #c0edbb!important; opacity: 1 }
.bdim7 .f { background-color: #bbcded!important; opacity: 1 }
.bdim7 .a { background-color: #ff9898!important; opacity: 1 }

