body {
  font-family: monospace;
}

.clrfix {
  overflow: auto;
}
.clrfix::after {
  content: "";
  clear: both;
  display: table;
}
.f-right {
  float: right;
}
.f-left {
  float: left;
}

ul.top-row {
  font-size: 24px;
  padding: 20px;
  margin: 0;
  background-color: #efefef;
  font-weight: bold;
  position: fixed;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
  height: 85px;
  top: 0;
  left: 0;
}

ul.top-row > li:first-child {
  width: 300px;
}

ul.top-row > li {
  list-style-type: none;
}

ul.button-group {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}

ul.button-group.js-chord-type {
  font-size: 22px;
}


ul.button-group li {
  display: block;
  float: left;
  cursor: pointer;
  margin: 0;
  border: 1px solid;
  border-left: 0;
  padding: 2px 15px;
  text-align: center;
  background-color: #fff;
}

ul.button-group li.on, ul.button-group li.on:hover {
  color: #fff;
  background-color: #111;
  cursor: default;
}

ul.button-group li:first-child {
  border-left: 1px solid black;
}

ul.button-group li:hover {
  background-color: #efefef;
}

ul.js-chord-ext li {
  display: none;
}

.maj ul.js-chord-ext li.maj {
  display: block;
}
.min ul.js-chord-ext li.min {
  display: block;
}
.dom ul.js-chord-ext li.dom {
  display: block;
}
.dim ul.js-chord-ext li.dim {
  display: block;
}
.aug ul.js-chord-ext li.aug {
  display: block;
}
.sus ul.js-chord-ext li.sus {
  display: block;
}


ul.top-row > li:last-child {
  float: right;
}

ul.top-row li.all-notes {
  width: 275px;
}

ul.top-row li.all-notes ul {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 275px;
  top: 8px;
}

.all-notes li {
  border: 1px solid black;
  cursor: pointer;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  margin: 2px;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.all-notes li:hover {
  background-color: black;
  color: white;
}

.label input {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 10px;
  transition: all 1.5s ease;
  color: green;
}

#chord {
  width: 100px;
}

#chord, #root {
  border: 0;
  text-transform: capitalize;
  
}
#root {
  width: 50px;
  
}
.top-row + div.fret-count {
  margin-top: 85px;
}

.grid {  
  width: 100%;
  display: grid;
  grid-template-columns: repeat(16, 6.25%);
  padding: 0 20px;
  box-sizing: border-box;
}

.grid > div{
  text-align: center;
  position: relative;
  aspect-ratio: 1;
}

div.grid.fret-count > div {
  aspect-ratio:  auto;
  margin: 15px 0;
  font-weight: bold;
}

.container > div {
  border: 1px solid black;
  cursor: pointer;
  opacity: .2;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  margin: 2px;
  transition: all .5s ease;
}
.container > div:hover {
  background: #000!important;
  color: #fff;
  transition: none;
  opacity: 1;
}
.container > div > div:after{
  content: '';
}
.container > div.fret-count > div {
  border: 0;
  opacity: 1;
}

.container div:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

[data-note='a']:before {content: "A"}
[data-note='as']:before {content: "A#"}
[data-note='b']:before {content: "B"}
[data-note='c']:before {content: "C"}
[data-note='cs']:before {content: "C#"}
[data-note='d']:before {content: "D"}
[data-note='ds']:before {content: "D#"}
[data-note='e']:before {content: "E"}
[data-note='f']:before {content: "F"}
[data-note='fs']:before {content: "F#"}
[data-note='g']:before {content: "G"}
[data-note='gs']:before {content: "G#"}

.container div.first {
  overflow: hidden;
}
.container div.first:after {
  content:"";
  display: block;
  height: 100%;
  border-right: 1px dotted black;
  position: absolute;
  width: 1px;
  right: 25%;
}

.container div.octave:after {
  right: 75%;
}

#js-row-toggle li {
  position: relative;
  list-style: none;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  border-left: 0;
  font-weight: bold;
}

#js-row-toggle li:hover {
  background-color: #cecece;
}

#js-row-toggle li:first-child {
  border-left: 1px solid black;
}

#js-row-toggle li:after {
  content: "";
  display: none;
  opacity: .35;
  background-color: black;
  position: absolute;
  left: -1px;
  bottom: 40px;
  width: calc(100% + 1px);
  height: 3000px;
  z-index: 1;
}

#js-row-toggle li.hide {
  background-color: #cfcfcf;
}

#js-row-toggle li.hide:after {
  display: block;
}

.note.on {
  opacity: 1;
  background-color: #ccc;
}

.on.root {
  background-color: #000;
  color: #fff;
}
.on.minThird {
  background-color: #ccc;
}
.on.forth {background-color: #ccc;}
.on.fifth {background-color: #ccc;}
.on.minSeventh {background-color: #ccc;}




